@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="post">
    <div>
        <label for="">Nhập vào a: </label>
        <input type="text" name="heSoA" />
    </div>
    <div>
        <label for="">Nhập vào b: </label>
        <input type="text" name="heSoB" />
    </div>
    <button>Tính</button>
</form>
<div>
    Kết quả:  @ViewBag.message    
</div>
